{% extends 'principal/layout.html' %}
{% load static %}
{% block title %}Listado de Adultos{% endblock %}

{% block styles %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'principal/grid/css/dataTables.bootstrap.min.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'principal/grid/css/responsive.bootstrap.min.css' %}" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'principal/js/alzcare-adults.js' %}"></script>
<script type="text/javascript" src="{% static 'principal/grid/js/dataTables-Idioma.js' %}"></script>
<script type="text/javascript" src="{% static 'principal/grid/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'principal/grid/js/fnFindCellRowIndexes.js' %}"></script>
<script type="text/javascript" src="{% static 'principal/grid/js/dataTables.responsive.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}



{% block headers %}

{% endblock %}

{% block content %}
<div class="card-cv">
        <section class="content-header">
                <h1>Adultos</h1>
            </section>
    <div class="box">
      
        <!-- /.box-header -->
        <div class="box-body no-padding">
        
        <table id="adults" class="table table-bordered table-striped"></table>


          
          <table class="table table-condensed">
            <tr>
              <th>Nombre</th>
              <th>Fase</th>
              <th colspan="3">Opciones</th>
            </tr>
            {% for adult in object_list %}
            <tr>
                        <td>{{adult}}</td>
                        <td>{{adult.phase}}</td>
                        <td>
                            <a href="{% url "adult_detail" adult.id %}" class="btn btn-primary">Detalles</a>
                        </td>
                        <td>
                        <form action="/tutor_create/" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="adult" value="{{adult.id}}"/>
                              <button class="btn btn-primary" type="submit" value="agregar">Agregar Tutor</button>
                            </form>
                        </td>
                        <td>
                            <form action="/caregiver_create/" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="adult" value="{{adult.id}}"/>
                              <button class="btn btn-primary" type="submit" value="agregar">Agregar Cuidador</button>
                            </form>
                        </td>
                </tr>

            {% endfor %}
          </table> 
          </div>
        <!-- /.box-body -->
      </div>
      <div class="pull-right">
      <a href="{% url "adult_create" %}" class="btn btn-success">Agregar</a>
    <a href="{% url "home" %}" class="btn btn-info">Regresar</a>
</div>
</div>
{% endblock %}