{% extends 'principal/layout.html' %}

{% block title %}Detalle Adulto{% endblock %}



{% block background %}{% endblock %}

{% block headers %}
Algo
{% endblock %}

{% block content %}
<div class="card-cv">
        <section class="content-header">
                <h1>{{adult}}</h1>
            </section>
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">Datos personales</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-condensed">
            <tr>
              <th>Fecha de nacimiento</th>
              <td>{{adult.birthDate}}</td>
            </tr>
            <tr>
                <th>Estado civil</th>
              <td>{{adult.civilStatus}}</td>
            </tr>
            <tr>
                <th>Género</th>
              <td>{{adult.gender}}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
              <td>{{adult.nacionality}}</td>
            </tr>
            <tr>
                <th>Religión</th>
              <td>{{adult.civilStatus}}</td>
            </tr>
            <tr>
                <th>Lugar de Nacimiento</th>
              <td>{{adult.birthPlace}}</td>
            </tr>
            <tr>
                <th>Estatus</th>
              <td>{{adult.status}}</td>
            </tr>
          </table>
          </div>
        <!-- /.box-body -->
      </div>
      <div class="pull-right">
    <a href="{% url "adult_list" %}" class="btn btn-info">Regresar</a>
</div>
</div>


{% endblock %}