
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alzcare - Iniciar sesion</title>
		{% load static %}
	
	<link href="{% static 'principal/css/bootstrap.min.css' %}" rel="stylesheet"> 
	<link href="{% static 'principal/css/alzcare-login.css' %}" rel="stylesheet">

	
	<!-- <link href="css/styles.css" rel="stylesheet"> -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->




</head>
<body>
	

<form action="">
	<h2>Alzcare</h2>
	<div class="form-group">
		<input type="text" class="form-control" name="nombreUsuario" placeholder="Nombre usuario" autofocus="">	
	</div>
	<div class="form-group">
		<input type="password" class="form-control" name="password" placeholder="Contraseña">	
	</div>
	<a href="{% url 'home' %}" class="btn btn-login">Iniciar sesión</a>
</form>

		
		
			

	

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
