{% extends 'principal/layout.html' %}

{% block title %}Listado de Cuidadores{% endblock %}



{% block background %}{% endblock %}

{% block headers %}

{% endblock %}

{% block content %}
<div class="card-cv">
        <section class="content-header">
                <h1>Cuidadores</h1>
            </section>
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">Cuidadores</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-condensed">
            <tr>
              <th>Nombre Cuidador</th>
              <th>Adulto a su cuidado</th>
              <th colspan="3">Opciones</th>
            </tr>
            {% for caregiver in object_list %}
            <tr>
                        <td>{{caregiver}}</td>
                        <td>{{caregiver.adult}}</td>
                        <td>
                            <a href="{% url "caregiver_detail" caregiver.id %}" class="btn btn-primary">Ver</a>
                        </td>
                                               <td>
                            <form action="/interview_create/" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="caregiver" value="{{caregiver.id}}"/>
                              <button class="btn btn-primary" type="submit" value="agregar">Agregar Entrevista</button>
                            </form>
                        </td>
                        <td>
                          <form action="/instrumento/" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="instrumento" value="{{6}}"/>
                              <input type="hidden" name="application" value="{{1}}"/>
                              <button class="btn btn-primary" type="submit" value="Contestar">Capturar APGAR</button>
                            </form>
                        </td>
                </tr>

            {% endfor %}
          </table>
          </div>
        <!-- /.box-body -->
      </div>
      <div class="pull-right">
     <!-- <a href="{% url "caregiver_create" %}" class="btn btn-success">Agregar</a> -->
    <a href="{% url "home" %}" class="btn btn-info">Regresar</a>
</div>
</div>
{% endblock %}
 