<!DOCTYPE html>
<html>
<head>
  <style>.errorlist{color:red;}</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alzcare - Iniciar sesion</title>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'principal/img/brain-head.png' %}" />
		<link  href="{% static 'principal/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'principal/css/alzcare-login.css' %}" rel="stylesheet">
	<!-- <link href="css/styles.css" rel="stylesheet"> -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
  <form action="" method="post">{% csrf_token %}
   {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
	<h2>Alzcare</h2>
	<div class="form-group"></div>

		    <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de usuario"/>
	</div>
	<div class="form-group">
		     <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
	</div>
	 <p><input type="submit" class="btn btn-login" value="Acceder"></p>

</form>
</body>
</html>

